body{
	background-color: #777
}

.body-wrap{
	margin-left: 100px;
}

#mainbox{
	width: 960px;
	height: 200px;
	margin-bottom: 10px;
}


.box1{
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	width: 468px;
	float: left;
	background-color: #ebebeb;
	height: 200px;
	margin-right: 10px;
	text-align: center;
	color: #777;
	font-size: 18px;
}

#header{
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	background-color: #ebebeb;
	margin-bottom: 10px;
	width: 960px;
	height: 75px;
	text-align: center;
	font-size: 18px;
	padding-top: 40px;
	color: #777;
}

#nav{
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	background-color: #ebebeb;
	margin-bottom: 10px;
	width: 960px;
	height: 75px;
	text-align: center;
	font-size: 18px;
	padding-top: 38px;
	color: #777;
}

#article{
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	background-color: #777;
	margin: 20px;
	height: 140px;
	position: relative;
	margin-top: 25px;
	text-align: center;
	color: #ebebeb;
}

#h1-h2{
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	background-color: #ebebeb;
	position: relative;
	margin: 5px;
	height: 40px;
	margin-bottom: 10px;
	text-align: center;
	color: #777;
	padding-top: 5px;
}

#paragraph{
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	background-color: #ebebeb;
	position: relative;
	margin: 5px;
	height: 40px;
	text-align: center;
	color: #777;
}

.aside{
	float:left;
	background-color: #ebebeb;
	width: 482px;
	height: 200px;
	text-align: center;
	color: #777;
	font-size: 20px;
}

#footer {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	clear: both;
	background-color: #ebebeb;
	width: 960px;
	height: 65px;
	text-align: center;
	font-size: 18px;
	padding-top: 40px;
	color: #777;
}
