#header{
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	background-color: #ebebeb;
	width: 960px;
	text-align: center;
	font-size: 18px;
	color: #777;
	padding: 30px;
	margin-bottom: 10px;
}

#body{
	background-color: #777;
}

.main-body{

	margin-left: 25px;
}

#nav{
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	background-color: #ebebeb;
	width: 960px;
	text-align: center;
	font-size: 18px;
	color: #777;
	padding: 30px;
	margin-bottom: 25px;

}


#wrap {
	width: 1052px;
}

.left {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	width: 54.5%;
	background-color:#ebebeb;
	text-align: center;
	padding-top: 30px;
	font-size: 18px;
	color: #777;
	height: 250px;
	float: left;
	margin-right: 25px;
	margin-bottom: 25px;
}

.right {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	width: 40%;
	background-color: #ebebeb;
	position: relative;
	right: 30px;
	text-align: center;
	padding-top: 30px;
	font-size: 18px;
	color: #777;
	height: 250px;
	float: left;
	margin-bottom: 10px;
}

#footer {
font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	background-color: #ebebeb;
	width: 960px;
	text-align: center;
	font-size: 18px;
	color: #777;
	padding: 30px;
	margin-top: 10px;
	overflow: auto;
}

